.content-div {
    position: sticky;
    bottom: 0;
    height: 100vh;
}

.landing-div {
    height: 100vh;
    background: url(../assets/matches.png) 100%;
    background-size: 100%;
    text-align: center;
}

.landing-content {
    padding-top: 10em;
}
.landing-scroll {
    padding-top: 15em;
    right: auto;
}
